---
// import { Font } from 'astro:assets';
import "../styles/global.css";
import FavIcon from '@assets/logo-menu-eng.png';
import Logo from '@assets/logo-lg.png';
import SETTINGS from '@src/_data/settings.json' assert { type: 'json' };

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

let { title = "Maison Victoire", description, image = "/logo-lg.png" } = Astro.props;

title = import.meta.env.MODE === 'development' ? `[DEV] ${title}` : title;

---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="robots" content="noindex" />
<link rel="icon" href={FavIcon.src}/>
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
{description && <meta name="description" content={description.replace(/[#_*~\[\]\(\)]/g,'')} />}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={`${[SETTINGS.siteTitle, title].join(' - ')}`} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(Logo.src, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(Logo.src, Astro.url)} />